@import "../../global.scss";

@media(max-width: 1380px) {
  .portfolio {
    .item {
      max-width: 200px;
      max-height: 150px;
    }
  }
}

@media(min-width: 981px) {
  .portfolio{
    h1  {
    font-size: 40px;
    }
  }
}

@media(max-width: 980px) {
  .portfolio {
    h1 {
      font-size: 35px;
    }
    .container {
      flex-direction: column;
    }
    .item {
      max-width: 200px;
      max-height: 150px;
    }
  }
}

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 5%;
    cursor: pointer;
  }

  ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    cursor: pointer;
    text-align: center;
    background-color: whitesmoke;
    width: 90px;
    box-shadow: 0px 0px 15px -8px black;

    &.active {
      animation: blink 2s ease-in-out infinite alternate;
    }
  }

  .container {
    margin-top: 5%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      width: 300px;
      height: 240px;
      border-radius: 20px;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all .5s ease;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 0px 0px 10px -7px black;

      h3{
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: brightness(95%);
      }

      &:hover{
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;
    transition: all 2s ease;
    .portfolioList {
      background-color: $mainColor;
      box-shadow: 2px 2px 15px -5px whitesmoke;
    }
    .item {
      box-shadow: 0px 0px 15px -5px whitesmoke;
    }
    li.active {
      background-color: whitesmoke;
      color: $mainColor;
    }
  }
}
