@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;

  .item {
    width: 80%;
    max-width: 500px;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -8px black;
    display: flex;

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 900px;

      h2 {
        font-size: 30px;
        cursor: pointer;
      }

      form {
        width: 90%;
        min-width: 100px;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
          width: 80%;
          margin-top: 10px;
          margin-bottom: 10px;
          height: 30px;
          font-size: 14px;

        }

        textarea {
          width: 80%;
          margin-top: 10px;
          margin-bottom: 20px;
          height: 70%;
          font-size: 14px;

        }

        button {
          width: 150px;
          height: 30px;
          margin-bottom: 20px;
          color: white;
          background-color: crimson;
          border: none;
          border-radius: 10px;
          font-weight: 500;
          cursor: pointer;
          box-shadow: 2px 2px 15px -8px black;

          &:focus {
            outline: none;
          }
        }

        span {
          color: green;
          height: 30px;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    transition: all 2s ease;
    .item {
      box-shadow: 1px 1px 20px -1px whitesmoke;
    }
  }
}
