.player-wrapper {
  position: relative;
  padding-top: 80.25%; /* Player ratio: 100 / (1280 / 720) */
  display: flex;
  overflow: hidden;
  object-fit: scale-down;
  min-height: 100%;
}

.react-player {
  position: absolute;
  top: -1;
  left: 0;
  overflow: hidden;
}
