@import "../../global.scss";

@media(max-width: 2000px) {
  .intro {
    font-size: 30px;
  }
    @media(max-width: 1850px) {
    .intro {
      font-size: 28px;
    }
      @media(max-width: 1555px) {
      .intro {
        font-size: 24px;
      }
        @media(max-width: 1350px) {
        .intro {
          font-size: 20px;
        }
          @media(max-width: 1120px) {
          .intro {
            font-size: 16px;
          }
            @media(max-width: 900px) {
            .intro {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 841px) {
  .intro {
    .left {
      flex: 0.5;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
    .right {
      flex: 0.5;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

       a {
        img {
          margin-top: 220px;
          min-width: 60px;
        }
      }
    }
  }
}

@media(max-width: 840px) {
  .intro {
    flex-direction: column;
    font-size: 20px;
    .left {
      flex: 0.4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .bio-text {
        max-width: 80%;
        text-align: center;
      }
    }
    .right {
      flex: 0.4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 300px;
    }
    .imgContainer {
      max-width: 400px;
      max-height: 280px;
    }

  }
}

.intro {
background-color: white;
display: flex;
transition: all 2s ease;

  .left {
    .bio-text {
      width: 90%;
    }
    h3 {
      margin-top: 5px;
      padding-left: 17px;
    }
    .ityped-cursor {
      animation: blink 3.3s infinite;
    }

    @keyframes blink {
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }
  }

  .right {
    .imgContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      width: 500px;
      height: 350px;
      margin: none;


      img {
        position: absolute;
        border-radius: 50%;
        max-width: 70%;
        min-width: 100px;
        height: auto;
        opacity: 0.8;
      }

      .overlay {
        position: absolute;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100%;
        background: darkblue;
        color: white;
        font-size: 50px;
        font-weight: 100;
        opacity: 0;
        z-index: 2;
      }

      .overlay-description {
        position: relative;
      }

      .overlay:hover {
        cursor: pointer;
      }

      .overlay > * {
        transform: translateY(20px);
        transition: transform 0.5s;
        text-shadow: 1px 1px;
      }

      .overlay:hover > * {
        transform: translateY(0);
      }
    }

    a {
      position: absolute;
      margin-top: 400px;
      z-index: 0;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100%{
          opacity: 0;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;
    transition: all 2s ease;
    .overlay:hover {
        opacity: 0.20;
    }
  }
}
