@import "../../global.scss";

@media(max-width: 2000px) {
  .intro {
    font-size: 32px;
  }
}

@media(max-width: 840px) {
  .intro {
    flex-direction: column;
    font-size: 20px;
    .left {
      max-height: 40%;
    }
    .right {
      max-height: 60%;
    }
    img {
      width: 300px;
    }
    .imgContainer {
      max-width: 400px;
      max-height: 280px;
    }

  }
}

.intro {
background-color: white;
display: flex;
transition: all 2s ease;

  .left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .bio-text {
      width: 90%;
    }
  }

  .right {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      width: 500px;
      height: 350px;
      margin: none;


      img {
        position: absolute;
        border-radius: 50%;
        max-width: 70%;
        min-width: 100px;
        height: auto;
        opacity: 0.8;
      }

      .overlay {
        position: absolute;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100%;
        background: darkblue;
        color: white;
        font-size: 50px;
        font-weight: 100;
        opacity: 0;
      }

      .overlay-description {
        position: relative;
      }

      .overlay:hover {
        // opacity: 0.20;
        cursor: pointer;
      }

      .overlay > * {
        transform: translateY(20px);
        transition: transform 0.5s;
        text-shadow: 1px 1px;
      }

      .overlay:hover > * {
        transform: translateY(0);
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;
    transition: all 2s ease;
    .overlay:hover {
        opacity: 0.20;
    }
  }
}
