@import "../../global.scss";

@media(min-width: 1050px) {
  .aboutme {
    .arrow.left {
      left: 100px;
    }
    .arrow.right {
      right: 100px;
    }
  }
}

@media(max-width: 1050px) {
  .aboutme {
    .slider {
      min-height: 450px;
      .container {
        .item {
          max-width: 75%;
          min-height: 80%;
          flex-direction: column;
          .left {
            align-items: flex-start;
            p {
              font-size: 20px;
            }
          }
          .right {
            max-height: 46%;
            max-width: 250px;
            overflow: hidden;
            img {
              max-height: 100%;
              object-fit: cover;
              padding: 5px 5px;
            }
          }
        }
      }
    }
  }
  .arrow {
    max-height: 40px;
  }
  .arrow.left {
    left: 0px;
  }
  .arrow.right {
    right: 0px;
  }
}

.aboutme{
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;

  .slider {
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    transition: all 1s ease-out;

    .container {
      height: 80%;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 90%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px black;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          flex: 4;
          height: 100%;
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .leftContainer {
            width: 98%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            .alignContainer {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              h2 {
                cursor: pointer;
                margin-bottom: 10px;
              }
            }

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }

            h2 {
              font-size: 30px;
            }

            p {
              font-size: 18px;
              line-height: 22px;
              text-align: center;
            }

            .mediaText {
                height: 20%;
                margin-top: 10px;
                a {
                  text-decoration: none;
                  color: black;
                  font-weight: 700;
                }

                a:hover {
                  color: grey;
                }
            }

            .s-container {
              max-height: 100%;
              min-height: 50%;
              max-width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;

            }

            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }

    &.active {
    background-color: $mainColor;
    transition: all 2s ease;
      .item {
        box-shadow: 1px 1px 20px -1px whitesmoke;
      }
    }
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    filter: brightness(50%);

    &.left {
      transform: rotateY(180deg);
    }
  }


}
